{% extends 'base.html' %}
{% block content %}

<ul class="sidenav">
    <li><a href="/">Home</a></li>
    <li><a  href="/edit">Edit</a></li>
    <li><a class="active" href="/logs">Logs</a></li>
    <li class="right"><a href="/about">About</a></li>
</ul>
<div class="content">
    <h3> Audit Logs </h3>
    <div class="float-box-log">
      <!-- Tab links -->
      <div class="tab">
        {% for aItem in LogData %}
          <button class="tablinks" onclick="openCity(event, '{{ aItem }}')">{{ aItem }}</button>
        {% endfor %}
      </div>
  
      <!-- Tab content -->
      {% for key, value in LogData.items()%}
        <div id="{{ key }}" class="tabcontent">
            <table>
              <tr><th>Course Name</th><th>Date</th><th>Player Count</th><th>Times Found</th></tr>
              {% for arow in value %}
                <tr>
                  <td>{{ arow['CourseName'] }}</td>
                  <td>{{ arow['Date'] }}</td>
                  <td>{{ arow['PlayerCount'] }}</td>
                  <td>{% for aTime in arow['Times'] %}
                        {{ aTime }}
                          {% if not loop.last %}
                          , 
                          {% endif %}
                      {% endfor %}   
                  </td>
                </tr>
              {% endfor %}
            </table>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
